<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AniLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1136},{88,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,72}}</string>
                <key>sourceSize</key>
                <string>{88,72}</string>
            </dict>
            <key>BGBT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1807},{554,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,178}}</string>
                <key>sourceSize</key>
                <string>{554,178}</string>
            </dict>
            <key>BGClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{548,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,391}}</string>
                <key>sourceSize</key>
                <string>{548,391}</string>
            </dict>
            <key>BGClub2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,96},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>BottomBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,35}}</string>
                <key>sourceSize</key>
                <string>{1280,35}</string>
            </dict>
            <key>BtActivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,936},{122,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{122,93}}</string>
                <key>sourceSize</key>
                <string>{122,103}</string>
            </dict>
            <key>BtBindPhone.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,235},{108,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,61}}</string>
                <key>sourceSize</key>
                <string>{108,61}</string>
            </dict>
            <key>BtCallBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1217},{52,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,63}}</string>
                <key>sourceSize</key>
                <string>{52,63}</string>
            </dict>
            <key>BtClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,545},{228,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,389}}</string>
                <key>sourceSize</key>
                <string>{228,389}</string>
            </dict>
            <key>BtCreatRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,753},{228,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,265}}</string>
                <key>sourceSize</key>
                <string>{228,265}</string>
            </dict>
            <key>BtCreateClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{237,397}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,397}}</string>
                <key>sourceSize</key>
                <string>{237,397}</string>
            </dict>
            <key>BtExit.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1146},{117,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,56}}</string>
                <key>sourceSize</key>
                <string>{117,56}</string>
            </dict>
            <key>BtFriendLink.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1031},{92,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>BtGetGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1234},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>BtInvite.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{92,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>BtInviteCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,442},{160,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{160,66}</string>
            </dict>
            <key>BtJoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,753},{228,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,118}}</string>
                <key>sourceSize</key>
                <string>{228,118}</string>
            </dict>
            <key>BtJoinClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{180,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,139}}</string>
                <key>sourceSize</key>
                <string>{180,139}</string>
            </dict>
            <key>BtMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,983},{128,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{128,94}}</string>
                <key>sourceSize</key>
                <string>{128,108}</string>
            </dict>
            <key>BtMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,753},{131,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,66}}</string>
                <key>sourceSize</key>
                <string>{131,66}</string>
            </dict>
            <key>BtMoreStrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,1020},{212,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,121}}</string>
                <key>sourceSize</key>
                <string>{212,121}</string>
            </dict>
            <key>BtNotice.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,886},{129,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,65}}</string>
                <key>sourceSize</key>
                <string>{129,65}</string>
            </dict>
            <key>BtRealName.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1200},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>BtRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,184},{133,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,68}}</string>
                <key>sourceSize</key>
                <string>{133,68}</string>
            </dict>
            <key>BtRoomList.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,442},{101,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,241}}</string>
                <key>sourceSize</key>
                <string>{101,241}</string>
            </dict>
            <key>BtRules.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1031},{109,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,57}}</string>
                <key>sourceSize</key>
                <string>{109,57}</string>
            </dict>
            <key>BtService.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1020},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>BtSet.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1017},{117,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,57}}</string>
                <key>sourceSize</key>
                <string>{117,57}</string>
            </dict>
            <key>BtShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,353},{140,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,69}}</string>
                <key>sourceSize</key>
                <string>{140,69}</string>
            </dict>
            <key>BtSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1090},{90,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,79}}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>ClubList.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2008},{109,30}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,9},{109,30}}</string>
                <key>sourceSize</key>
                <string>{253,48}</string>
            </dict>
            <key>ClubList_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1987},{253,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,48}}</string>
                <key>sourceSize</key>
                <string>{253,48}</string>
            </dict>
            <key>FaceBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1024},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>FaceBG1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1182},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>FaceDef.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1107},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>FaceErr.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,936},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>FaceMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,936},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>FirstGift.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1122},{86,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,76}}</string>
                <key>sourceSize</key>
                <string>{86,76}</string>
            </dict>
            <key>GoldBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2008},{174,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,38}}</string>
                <key>sourceSize</key>
                <string>{174,38}</string>
            </dict>
            <key>ListBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1113},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>ListItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,184},{98,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,49}}</string>
                <key>sourceSize</key>
                <string>{98,49}</string>
            </dict>
            <key>Man.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1020},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>MenuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1649},{668,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,120}}</string>
                <key>sourceSize</key>
                <string>{668,120}</string>
            </dict>
            <key>NoClub.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,552},{455,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,199}}</string>
                <key>sourceSize</key>
                <string>{455,199}</string>
            </dict>
            <key>NoRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1807},{455,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,199}}</string>
                <key>sourceSize</key>
                <string>{455,199}</string>
            </dict>
            <key>NoticeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1771},{755,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,34}}</string>
                <key>sourceSize</key>
                <string>{755,34}</string>
            </dict>
            <key>RoomList.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2008},{111,32}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,7},{111,32}}</string>
                <key>sourceSize</key>
                <string>{253,48}</string>
            </dict>
            <key>RoomList_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1987},{253,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,48}}</string>
                <key>sourceSize</key>
                <string>{253,48}</string>
            </dict>
            <key>Woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2008},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{363,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,554}}</string>
                <key>sourceSize</key>
                <string>{363,554}</string>
            </dict>
            <key>point.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2008},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>spCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1987},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>top_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,241},{408,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,110}}</string>
                <key>sourceSize</key>
                <string>{410,110}</string>
            </dict>
            <key>top_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,353},{382,87}}</string>
                <key>offset</key>
                <string>{143,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,0},{382,87}}</string>
                <key>sourceSize</key>
                <string>{668,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbyBasics.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2b4baf84315167912ca19bdcb8deaf1$</string>
            <key>textureFileName</key>
            <string>LobbyBasics.png</string>
        </dict>
    </dict>
</plist>
